<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_CURN8Hm9EeaOOsULcx8fvw" specification="interface :&#xA;in event stop&#xA;in event rec&#xA;in event rew_or_ff&#xA;in event button_stop&#xA;in event direction&#xA;in event play" name="default">
    <regions xmi:id="_CV5loHm9EeaOOsULcx8fvw" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_CXcdwHm9EeaOOsULcx8fvw">
        <outgoingTransitions xmi:id="_CXcd2nm9EeaOOsULcx8fvw" target="_CXcdzHm9EeaOOsULcx8fvw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_CXcdzHm9EeaOOsULcx8fvw" name="Stop" incomingTransitions="_CXcd2nm9EeaOOsULcx8fvw _0HKZMLjtEeagZd9ZhYQg0Q _P0OEMLjwEeagZd9ZhYQg0Q _D4Q-MLlhEeagZd9ZhYQg0Q">
        <outgoingTransitions xmi:id="_3XAOwLjsEeagZd9ZhYQg0Q" specification="rec" target="_xS6lYLjsEeagZd9ZhYQg0Q"/>
        <outgoingTransitions xmi:id="_-9b_MLjtEeagZd9ZhYQg0Q" specification="play" target="_xg_oMLjtEeagZd9ZhYQg0Q"/>
        <outgoingTransitions xmi:id="_iCWokLjwEeagZd9ZhYQg0Q" specification="rew_or_ff" target="_ubSbgLjtEeagZd9ZhYQg0Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_xS6lYLjsEeagZd9ZhYQg0Q" name="Record" incomingTransitions="_3XAOwLjsEeagZd9ZhYQg0Q">
        <outgoingTransitions xmi:id="_D4Q-MLlhEeagZd9ZhYQg0Q" specification="stop" target="_CXcdzHm9EeaOOsULcx8fvw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_ubSbgLjtEeagZd9ZhYQg0Q" name="Rew_FF" incomingTransitions="_iCWokLjwEeagZd9ZhYQg0Q">
        <outgoingTransitions xmi:id="_M0-E0LjwEeagZd9ZhYQg0Q" specification="play" target="_xg_oMLjtEeagZd9ZhYQg0Q"/>
        <outgoingTransitions xmi:id="_P0OEMLjwEeagZd9ZhYQg0Q" specification="stop" target="_CXcdzHm9EeaOOsULcx8fvw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_xg_oMLjtEeagZd9ZhYQg0Q" name="Play" incomingTransitions="_-9b_MLjtEeagZd9ZhYQg0Q _F-hcULjuEeagZd9ZhYQg0Q _M0-E0LjwEeagZd9ZhYQg0Q">
        <outgoingTransitions xmi:id="_0HKZMLjtEeagZd9ZhYQg0Q" specification="button_stop" target="_CXcdzHm9EeaOOsULcx8fvw"/>
        <outgoingTransitions xmi:id="_F-hcULjuEeagZd9ZhYQg0Q" specification="direction" target="_xg_oMLjtEeagZd9ZhYQg0Q"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_CVwbsHm9EeaOOsULcx8fvw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_CURN8Hm9EeaOOsULcx8fvw" measurementUnit="Pixel">
    <children xmi:id="_CWzkkHm9EeaOOsULcx8fvw" type="Region" element="_CV5loHm9EeaOOsULcx8fvw">
      <children xsi:type="notation:DecorationNode" xmi:id="_CW2n4Hm9EeaOOsULcx8fvw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_CW_x0Hm9EeaOOsULcx8fvw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_CW_x0Xm9EeaOOsULcx8fvw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_CW_x0nm9EeaOOsULcx8fvw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_CXcdwXm9EeaOOsULcx8fvw" type="Entry" element="_CXcdwHm9EeaOOsULcx8fvw">
          <children xmi:id="_CXcdxXm9EeaOOsULcx8fvw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_CXcdyHm9EeaOOsULcx8fvw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_CXcdyXm9EeaOOsULcx8fvw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_CXcdynm9EeaOOsULcx8fvw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_CXcdxnm9EeaOOsULcx8fvw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CXcdx3m9EeaOOsULcx8fvw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_CXcdwnm9EeaOOsULcx8fvw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_CXcdw3m9EeaOOsULcx8fvw" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CXcdy3m9EeaOOsULcx8fvw" x="154" y="270"/>
        </children>
        <children xmi:id="_CXcdzXm9EeaOOsULcx8fvw" type="State" element="_CXcdzHm9EeaOOsULcx8fvw">
          <children xsi:type="notation:DecorationNode" xmi:id="_CXcd0Xm9EeaOOsULcx8fvw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_CXcd0nm9EeaOOsULcx8fvw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_CXcd03m9EeaOOsULcx8fvw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_CXcd1Hm9EeaOOsULcx8fvw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_CXcd1Xm9EeaOOsULcx8fvw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CXcd1nm9EeaOOsULcx8fvw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_CXcd13m9EeaOOsULcx8fvw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_CXcdznm9EeaOOsULcx8fvw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_CXcdz3m9EeaOOsULcx8fvw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_CXcd2Hm9EeaOOsULcx8fvw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CXcd2Xm9EeaOOsULcx8fvw" x="199" y="223"/>
        </children>
        <children xmi:id="_xTSY0LjsEeagZd9ZhYQg0Q" type="State" element="_xS6lYLjsEeagZd9ZhYQg0Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_xTWqQLjsEeagZd9ZhYQg0Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_xTWqQbjsEeagZd9ZhYQg0Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_xTXRULjsEeagZd9ZhYQg0Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_xTX4YLjsEeagZd9ZhYQg0Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_xTYfcLjsEeagZd9ZhYQg0Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xTYfcbjsEeagZd9ZhYQg0Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_xTZGgLjsEeagZd9ZhYQg0Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_xTSY0bjsEeagZd9ZhYQg0Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_xTSY0rjsEeagZd9ZhYQg0Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_xTZtkLjsEeagZd9ZhYQg0Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xTSY07jsEeagZd9ZhYQg0Q" x="484" y="227"/>
        </children>
        <children xmi:id="_ubWF4LjtEeagZd9ZhYQg0Q" type="State" element="_ubSbgLjtEeagZd9ZhYQg0Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_ubXUALjtEeagZd9ZhYQg0Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_ubXUAbjtEeagZd9ZhYQg0Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_ubXUArjtEeagZd9ZhYQg0Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ubX7ELjtEeagZd9ZhYQg0Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_ubX7EbjtEeagZd9ZhYQg0Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ubX7ErjtEeagZd9ZhYQg0Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ubYiILjtEeagZd9ZhYQg0Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_ubWs8LjtEeagZd9ZhYQg0Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_ubWs8bjtEeagZd9ZhYQg0Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_ubYiIbjtEeagZd9ZhYQg0Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ubWs8rjtEeagZd9ZhYQg0Q" x="497" y="42"/>
        </children>
        <children xmi:id="_xhCEcLjtEeagZd9ZhYQg0Q" type="State" element="_xg_oMLjtEeagZd9ZhYQg0Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_xhCrgLjtEeagZd9ZhYQg0Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_xhCrgbjtEeagZd9ZhYQg0Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_xhCrgrjtEeagZd9ZhYQg0Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_xhCrg7jtEeagZd9ZhYQg0Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_xhDSkLjtEeagZd9ZhYQg0Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xhDSkbjtEeagZd9ZhYQg0Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_xhDSkrjtEeagZd9ZhYQg0Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_xhCEcbjtEeagZd9ZhYQg0Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_xhCEcrjtEeagZd9ZhYQg0Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_xhD5oLjtEeagZd9ZhYQg0Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xhCEc7jtEeagZd9ZhYQg0Q" x="178" y="42" width="66"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CW_x03m9EeaOOsULcx8fvw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_CWzkkXm9EeaOOsULcx8fvw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CXSswHm9EeaOOsULcx8fvw" x="220" y="15" width="628" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_CXcd4nm9EeaOOsULcx8fvw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_CXcd5Hm9EeaOOsULcx8fvw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_CXcd5Xm9EeaOOsULcx8fvw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_CXcd5nm9EeaOOsULcx8fvw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_CXcd53m9EeaOOsULcx8fvw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CXcd6Hm9EeaOOsULcx8fvw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CXcd6Xm9EeaOOsULcx8fvw" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_CVwbsXm9EeaOOsULcx8fvw"/>
    <edges xmi:id="_CXcd23m9EeaOOsULcx8fvw" type="Transition" element="_CXcd2nm9EeaOOsULcx8fvw" source="_CXcdwXm9EeaOOsULcx8fvw" target="_CXcdzXm9EeaOOsULcx8fvw">
      <children xsi:type="notation:DecorationNode" xmi:id="_CXcd33m9EeaOOsULcx8fvw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_CXcd4Hm9EeaOOsULcx8fvw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_CXcd4Xm9EeaOOsULcx8fvw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_CXcd3Hm9EeaOOsULcx8fvw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_CXcd3nm9EeaOOsULcx8fvw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_CXcd3Xm9EeaOOsULcx8fvw" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_3XGVYLjsEeagZd9ZhYQg0Q" type="Transition" element="_3XAOwLjsEeagZd9ZhYQg0Q" source="_CXcdzXm9EeaOOsULcx8fvw" target="_xTSY0LjsEeagZd9ZhYQg0Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_3XIKkLjsEeagZd9ZhYQg0Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_3XIKkbjsEeagZd9ZhYQg0Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_3XIKkrjsEeagZd9ZhYQg0Q" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_3XGVYbjsEeagZd9ZhYQg0Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_3XHjgLjsEeagZd9ZhYQg0Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_3XGVYrjsEeagZd9ZhYQg0Q" points="[0, 0, -273, 3]$[281, 21, 8, 24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_3XPfULjsEeagZd9ZhYQg0Q" id="(1.0,0.660377358490566)"/>
    </edges>
    <edges xmi:id="_0HODkLjtEeagZd9ZhYQg0Q" type="Transition" element="_0HKZMLjtEeagZd9ZhYQg0Q" source="_xhCEcLjtEeagZd9ZhYQg0Q" target="_CXcdzXm9EeaOOsULcx8fvw">
      <children xsi:type="notation:DecorationNode" xmi:id="_0HPRsLjtEeagZd9ZhYQg0Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_0HPRsbjtEeagZd9ZhYQg0Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_0HPRsrjtEeagZd9ZhYQg0Q" x="-7" y="50"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_0HODkbjtEeagZd9ZhYQg0Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_0HOqoLjtEeagZd9ZhYQg0Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_0HODkrjtEeagZd9ZhYQg0Q" points="[-5, 0, 2, -137]$[-5, 133, 2, -4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_0HTjILjtEeagZd9ZhYQg0Q" id="(0.7441860465116279,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_0HTjIbjtEeagZd9ZhYQg0Q" id="(0.4,0.09433962264150944)"/>
    </edges>
    <edges xmi:id="_-9fCgLjtEeagZd9ZhYQg0Q" type="Transition" element="_-9b_MLjtEeagZd9ZhYQg0Q" source="_CXcdzXm9EeaOOsULcx8fvw" target="_xhCEcLjtEeagZd9ZhYQg0Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_-9fpkLjtEeagZd9ZhYQg0Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_-9fpkbjtEeagZd9ZhYQg0Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_-9fpkrjtEeagZd9ZhYQg0Q" x="1" y="26"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_-9fCgbjtEeagZd9ZhYQg0Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_-9fCg7jtEeagZd9ZhYQg0Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_-9fCgrjtEeagZd9ZhYQg0Q" points="[-10, -31, 0, 151]$[-10, -164, 0, 18]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-9jT8LjtEeagZd9ZhYQg0Q" id="(1.0,0.660377358490566)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-9jT8bjtEeagZd9ZhYQg0Q" id="(0.8484848484848485,0.6415094339622641)"/>
    </edges>
    <edges xmi:id="_F-j4kLjuEeagZd9ZhYQg0Q" type="Transition" element="_F-hcULjuEeagZd9ZhYQg0Q" source="_xhCEcLjtEeagZd9ZhYQg0Q" target="_xhCEcLjtEeagZd9ZhYQg0Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_F-kfoLjuEeagZd9ZhYQg0Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_F-kfobjuEeagZd9ZhYQg0Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_F-kforjuEeagZd9ZhYQg0Q" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_F-j4kbjuEeagZd9ZhYQg0Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_F-j4k7juEeagZd9ZhYQg0Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_F-j4krjuEeagZd9ZhYQg0Q" points="[0, 0, -1, -17]$[-64, 0, -65, -17]$[-64, 26, -65, 9]$[0, 26, -1, 9]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_F-m74LjuEeagZd9ZhYQg0Q" id="(0.015151515151515152,0.20754716981132076)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_F-ni8LjuEeagZd9ZhYQg0Q" id="(0.030303030303030304,0.5471698113207547)"/>
    </edges>
    <edges xmi:id="_M1AhELjwEeagZd9ZhYQg0Q" type="Transition" element="_M0-E0LjwEeagZd9ZhYQg0Q" source="_ubWF4LjtEeagZd9ZhYQg0Q" target="_xhCEcLjtEeagZd9ZhYQg0Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_M1BIIbjwEeagZd9ZhYQg0Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_M1BIIrjwEeagZd9ZhYQg0Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_M1BII7jwEeagZd9ZhYQg0Q" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_M1AhEbjwEeagZd9ZhYQg0Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_M1BIILjwEeagZd9ZhYQg0Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_M1AhErjwEeagZd9ZhYQg0Q" points="[0, 8, 286, 0]$[-255, 8, 31, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_M1EygLjwEeagZd9ZhYQg0Q" id="(0.0,0.6037735849056604)"/>
    </edges>
    <edges xmi:id="_P0QgcLjwEeagZd9ZhYQg0Q" type="Transition" element="_P0OEMLjwEeagZd9ZhYQg0Q" source="_ubWF4LjtEeagZd9ZhYQg0Q" target="_CXcdzXm9EeaOOsULcx8fvw">
      <children xsi:type="notation:DecorationNode" xmi:id="_P0RHgbjwEeagZd9ZhYQg0Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_P0RHgrjwEeagZd9ZhYQg0Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_P0RHg7jwEeagZd9ZhYQg0Q" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_P0QgcbjwEeagZd9ZhYQg0Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_P0RHgLjwEeagZd9ZhYQg0Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_P0QgcrjwEeagZd9ZhYQg0Q" points="[0, 0, 289, -169]$[-287, 153, 2, -16]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_P0Ux4LjwEeagZd9ZhYQg0Q" id="(0.0,0.6037735849056604)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_P0Ux4bjwEeagZd9ZhYQg0Q" id="(0.24444444444444444,0.33962264150943394)"/>
    </edges>
    <edges xmi:id="_iCYdwLjwEeagZd9ZhYQg0Q" type="Transition" element="_iCWokLjwEeagZd9ZhYQg0Q" source="_CXcdzXm9EeaOOsULcx8fvw" target="_ubWF4LjtEeagZd9ZhYQg0Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_iCYdxLjwEeagZd9ZhYQg0Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_iCYdxbjwEeagZd9ZhYQg0Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_iCZE0LjwEeagZd9ZhYQg0Q" x="16" y="32"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_iCYdwbjwEeagZd9ZhYQg0Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_iCYdw7jwEeagZd9ZhYQg0Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_iCYdwrjwEeagZd9ZhYQg0Q" points="[0, 0, -289, 187]$[319, -163, 30, 24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_iCcIILjwEeagZd9ZhYQg0Q" id="(0.9555555555555556,0.32075471698113206)"/>
    </edges>
    <edges xmi:id="_D7nNILlhEeagZd9ZhYQg0Q" type="Transition" element="_D4Q-MLlhEeagZd9ZhYQg0Q" source="_xTSY0LjsEeagZd9ZhYQg0Q" target="_CXcdzXm9EeaOOsULcx8fvw">
      <children xsi:type="notation:DecorationNode" xmi:id="_D7obQLlhEeagZd9ZhYQg0Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_D7obQblhEeagZd9ZhYQg0Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_D7obQrlhEeagZd9ZhYQg0Q" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_D7nNIblhEeagZd9ZhYQg0Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_D7n0MLlhEeagZd9ZhYQg0Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_D7nNIrlhEeagZd9ZhYQg0Q" points="[0, 9, 261, 4]$[-258, 15, 3, 10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_D7tTwLlhEeagZd9ZhYQg0Q" id="(0.0,0.6226415094339622)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_D7tTwblhEeagZd9ZhYQg0Q" id="(0.6,0.7924528301886793)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
