<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_Fuy30OnMEeSITeDVRs-MOA" specification="interface User:&#xA;&#x9;in event Floor1&#xA;&#x9;in event Floor2&#xA;&#x9;in event Floor3&#xA;&#x9;in event Emergency&#xA;&#x9;in event Resume&#xA;&#x9;&#xA;interface Elevator:&#xA;&#x9;operation arrive(floor: integer)" name="ElevatorModeling">
    <regions xmi:id="_Fuy30-nMEeSITeDVRs-MOA" name="main region">
      <vertices xsi:type="sgraph:State" xmi:id="_HoztcOnMEeSITeDVRs-MOA" name="Elevator" incomingTransitions="_RHEQQOnPEeSITeDVRs-MOA">
        <outgoingTransitions xmi:id="_-yxZgOnOEeSITeDVRs-MOA" specification="User.Emergency" target="_5TBzUOnOEeSITeDVRs-MOA"/>
        <regions xmi:id="_oQiNkOnMEeSITeDVRs-MOA" name="In Service">
          <vertices xsi:type="sgraph:State" xmi:id="_PhfrgOnNEeSITeDVRs-MOA" specification="entry/Elevator.arrive(1)" name="Floor1" incomingTransitions="_Ki_7wOnOEeSITeDVRs-MOA _V5U60OnOEeSITeDVRs-MOA _jGpT4OnSEeSITeDVRs-MOA">
            <outgoingTransitions xmi:id="_HF47sOnOEeSITeDVRs-MOA" specification="User.Floor2" target="_y--30OnNEeSITeDVRs-MOA"/>
            <outgoingTransitions xmi:id="_QJYVcOnOEeSITeDVRs-MOA" specification="User.Floor3" target="_-L2_8OnNEeSITeDVRs-MOA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_y--30OnNEeSITeDVRs-MOA" specification="entry/Elevator.arrive(2)" name="Floor2" incomingTransitions="_HF47sOnOEeSITeDVRs-MOA _h9TqEOnOEeSITeDVRs-MOA">
            <outgoingTransitions xmi:id="_Ki_7wOnOEeSITeDVRs-MOA" specification="User.Floor1&#xA;" target="_PhfrgOnNEeSITeDVRs-MOA"/>
            <outgoingTransitions xmi:id="_bXJ1cOnOEeSITeDVRs-MOA" specification="User.Floor3" target="_-L2_8OnNEeSITeDVRs-MOA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_-L2_8OnNEeSITeDVRs-MOA" specification="entry/Elevator.arrive(3)&#xA;&#xA;" name="Floor3" incomingTransitions="_QJYVcOnOEeSITeDVRs-MOA _bXJ1cOnOEeSITeDVRs-MOA">
            <outgoingTransitions xmi:id="_V5U60OnOEeSITeDVRs-MOA" specification="User.Floor1" target="_PhfrgOnNEeSITeDVRs-MOA"/>
            <outgoingTransitions xmi:id="_h9TqEOnOEeSITeDVRs-MOA" specification="User.Floor2" target="_y--30OnNEeSITeDVRs-MOA"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_DMDG4OnPEeSITeDVRs-MOA" incomingTransitions="_IUJpIOnPEeSITeDVRs-MOA" kind="SHALLOW_HISTORY">
            <outgoingTransitions xmi:id="_jGpT4OnSEeSITeDVRs-MOA" target="_PhfrgOnNEeSITeDVRs-MOA"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_5TBzUOnOEeSITeDVRs-MOA" name="OutOfService" incomingTransitions="_-yxZgOnOEeSITeDVRs-MOA">
        <outgoingTransitions xmi:id="_IUJpIOnPEeSITeDVRs-MOA" specification="User.Resume" target="_DMDG4OnPEeSITeDVRs-MOA"/>
      </vertices>
      <vertices xsi:type="sgraph:Entry" xmi:id="_PrC-MOnPEeSITeDVRs-MOA">
        <outgoingTransitions xmi:id="_RHEQQOnPEeSITeDVRs-MOA" specification="" target="_HoztcOnMEeSITeDVRs-MOA"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_Fuy30enMEeSITeDVRs-MOA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_Fuy30OnMEeSITeDVRs-MOA" measurementUnit="Pixel">
    <children xmi:id="_Fu4-cOnMEeSITeDVRs-MOA" type="Region" element="_Fuy30-nMEeSITeDVRs-MOA">
      <children xsi:type="notation:DecorationNode" xmi:id="_Fu4-c-nMEeSITeDVRs-MOA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Fu4-dOnMEeSITeDVRs-MOA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Fu4-denMEeSITeDVRs-MOA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_Fu4-dunMEeSITeDVRs-MOA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_Ho50EenMEeSITeDVRs-MOA" type="State" element="_HoztcOnMEeSITeDVRs-MOA">
          <children xsi:type="notation:DecorationNode" xmi:id="_Ho50FenMEeSITeDVRs-MOA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_Ho50FunMEeSITeDVRs-MOA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_Ho50F-nMEeSITeDVRs-MOA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Ho50GOnMEeSITeDVRs-MOA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_Ho50GenMEeSITeDVRs-MOA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Ho50GunMEeSITeDVRs-MOA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Ho50G-nMEeSITeDVRs-MOA" type="StateFigureCompartment">
            <children xmi:id="_jboFYOnSEeSITeDVRs-MOA" type="Region" element="_oQiNkOnMEeSITeDVRs-MOA">
              <children xsi:type="notation:DecorationNode" xmi:id="_jboFYenSEeSITeDVRs-MOA" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_jboFYunSEeSITeDVRs-MOA"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_jboFY-nSEeSITeDVRs-MOA"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_jboFZOnSEeSITeDVRs-MOA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_jboFZenSEeSITeDVRs-MOA" type="State" element="_PhfrgOnNEeSITeDVRs-MOA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_jboFZunSEeSITeDVRs-MOA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_jboFZ-nSEeSITeDVRs-MOA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_jboFaOnSEeSITeDVRs-MOA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_jboFaenSEeSITeDVRs-MOA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_jboFaunSEeSITeDVRs-MOA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jboFa-nSEeSITeDVRs-MOA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_jboFbOnSEeSITeDVRs-MOA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_jboFbenSEeSITeDVRs-MOA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_jboFbunSEeSITeDVRs-MOA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_jboFb-nSEeSITeDVRs-MOA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jboFcOnSEeSITeDVRs-MOA" x="223" y="56"/>
                </children>
                <children xmi:id="_jboFcenSEeSITeDVRs-MOA" type="State" element="_y--30OnNEeSITeDVRs-MOA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_jboFcunSEeSITeDVRs-MOA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_jboFc-nSEeSITeDVRs-MOA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_jboFdOnSEeSITeDVRs-MOA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_jboFdenSEeSITeDVRs-MOA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_jboFdunSEeSITeDVRs-MOA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jboFd-nSEeSITeDVRs-MOA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_jboFeOnSEeSITeDVRs-MOA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_jboFeenSEeSITeDVRs-MOA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_jboFeunSEeSITeDVRs-MOA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_jboFe-nSEeSITeDVRs-MOA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jboFfOnSEeSITeDVRs-MOA" x="223" y="266"/>
                </children>
                <children xmi:id="_jboFfenSEeSITeDVRs-MOA" type="State" element="_-L2_8OnNEeSITeDVRs-MOA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_jboFfunSEeSITeDVRs-MOA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_jboFf-nSEeSITeDVRs-MOA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_jboFgOnSEeSITeDVRs-MOA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_jboFgenSEeSITeDVRs-MOA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_jboFgunSEeSITeDVRs-MOA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jboFg-nSEeSITeDVRs-MOA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_jboFhOnSEeSITeDVRs-MOA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_jboFhenSEeSITeDVRs-MOA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_jboFhunSEeSITeDVRs-MOA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_jboFh-nSEeSITeDVRs-MOA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jboFiOnSEeSITeDVRs-MOA" x="223" y="491"/>
                </children>
                <children xmi:id="_jboFienSEeSITeDVRs-MOA" type="ShallowHistory" element="_DMDG4OnPEeSITeDVRs-MOA">
                  <children xmi:id="_jboFiunSEeSITeDVRs-MOA" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_jboFi-nSEeSITeDVRs-MOA" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_jboFjOnSEeSITeDVRs-MOA"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_jboFjenSEeSITeDVRs-MOA"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_jboFjunSEeSITeDVRs-MOA" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jboFj-nSEeSITeDVRs-MOA"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_jboFkOnSEeSITeDVRs-MOA" fontName="Verdana" lineColor="4210752"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jboFkenSEeSITeDVRs-MOA" x="533" y="14"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jboFkunSEeSITeDVRs-MOA"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_jboFk-nSEeSITeDVRs-MOA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jboFlOnSEeSITeDVRs-MOA"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_Ho50EunMEeSITeDVRs-MOA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_Ho50E-nMEeSITeDVRs-MOA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Ho50HOnMEeSITeDVRs-MOA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Ho50FOnMEeSITeDVRs-MOA" x="24" y="63" width="621" height="672"/>
        </children>
        <children xmi:id="_5TBzU-nOEeSITeDVRs-MOA" type="State" element="_5TBzUOnOEeSITeDVRs-MOA">
          <children xsi:type="notation:DecorationNode" xmi:id="_5TBzV-nOEeSITeDVRs-MOA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_5TBzWOnOEeSITeDVRs-MOA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_5TBzWenOEeSITeDVRs-MOA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_5TBzWunOEeSITeDVRs-MOA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_5TBzW-nOEeSITeDVRs-MOA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5TBzXOnOEeSITeDVRs-MOA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_5TH58OnOEeSITeDVRs-MOA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_5TBzVOnOEeSITeDVRs-MOA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_5TBzVenOEeSITeDVRs-MOA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_5TH58enOEeSITeDVRs-MOA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5TBzVunOEeSITeDVRs-MOA" x="814" y="298" width="127" height="53"/>
        </children>
        <children xmi:id="_PrC-MenPEeSITeDVRs-MOA" type="Entry" element="_PrC-MOnPEeSITeDVRs-MOA">
          <children xmi:id="_PrC-NOnPEeSITeDVRs-MOA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_PrC-N-nPEeSITeDVRs-MOA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_PrC-OOnPEeSITeDVRs-MOA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_PrC-OenPEeSITeDVRs-MOA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_PrC-NenPEeSITeDVRs-MOA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_PrC-NunPEeSITeDVRs-MOA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_PrC-MunPEeSITeDVRs-MOA" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_PrC-M-nPEeSITeDVRs-MOA" x="9" y="18" width="15" height="15"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Fu4-d-nMEeSITeDVRs-MOA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_Fu4-cenMEeSITeDVRs-MOA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Fu4-eOnMEeSITeDVRs-MOA" x="300" y="10" width="1026" height="786"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_Fu_FMunMEeSITeDVRs-MOA" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_Fu_FNOnMEeSITeDVRs-MOA" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Fu_FNenMEeSITeDVRs-MOA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Fu_FNunMEeSITeDVRs-MOA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_Fu_FN-nMEeSITeDVRs-MOA" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Fu_FOOnMEeSITeDVRs-MOA"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Fu_FOenMEeSITeDVRs-MOA" x="10" y="10" width="279" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_Fuy30unMEeSITeDVRs-MOA"/>
    <edges xmi:id="_HF47senOEeSITeDVRs-MOA" type="Transition" element="_HF47sOnOEeSITeDVRs-MOA" source="_jboFZenSEeSITeDVRs-MOA" target="_jboFcenSEeSITeDVRs-MOA">
      <children xsi:type="notation:DecorationNode" xmi:id="_HF47tenOEeSITeDVRs-MOA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_HF47tunOEeSITeDVRs-MOA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_HF47t-nOEeSITeDVRs-MOA" x="16" y="-42"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_HF47sunOEeSITeDVRs-MOA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_HF47tOnOEeSITeDVRs-MOA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_HF47s-nOEeSITeDVRs-MOA" points="[3, 0, 8, -193]$[42, 0, 47, -193]$[42, 198, 47, 5]$[3, 198, 8, 5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_HF_CUOnOEeSITeDVRs-MOA" id="(0.9571428571428572,0.5471698113207547)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_HF_CUenOEeSITeDVRs-MOA" id="(0.8857142857142857,0.18867924528301888)"/>
    </edges>
    <edges xmi:id="_Ki_7wenOEeSITeDVRs-MOA" type="Transition" element="_Ki_7wOnOEeSITeDVRs-MOA" source="_jboFcenSEeSITeDVRs-MOA" target="_jboFZenSEeSITeDVRs-MOA">
      <children xsi:type="notation:DecorationNode" xmi:id="_Ki_7xenOEeSITeDVRs-MOA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Ki_7xunOEeSITeDVRs-MOA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Ki_7x-nOEeSITeDVRs-MOA" x="-24" y="-36"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Ki_7wunOEeSITeDVRs-MOA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Ki_7xOnOEeSITeDVRs-MOA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Ki_7w-nOEeSITeDVRs-MOA" points="[-1, 0, -2, 192]$[-48, 0, -49, 192]$[-48, -196, -49, -4]$[-1, -196, -2, -4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Ki_7yOnOEeSITeDVRs-MOA" id="(0.02857142857142857,0.2641509433962264)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Ki_7yenOEeSITeDVRs-MOA" id="(0.04285714285714286,0.6415094339622641)"/>
    </edges>
    <edges xmi:id="_QJYVcenOEeSITeDVRs-MOA" type="Transition" element="_QJYVcOnOEeSITeDVRs-MOA" source="_jboFZenSEeSITeDVRs-MOA" target="_jboFfenSEeSITeDVRs-MOA">
      <children xsi:type="notation:DecorationNode" xmi:id="_QJecEenOEeSITeDVRs-MOA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_QJecEunOEeSITeDVRs-MOA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_QJecE-nOEeSITeDVRs-MOA" x="-9" y="-55"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_QJYVcunOEeSITeDVRs-MOA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_QJecEOnOEeSITeDVRs-MOA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_QJYVc-nOEeSITeDVRs-MOA" points="[16, 8, 9, -460]$[155, 8, 148, -460]$[155, 468, 148, 0]$[16, 468, 9, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QJecFOnOEeSITeDVRs-MOA" id="(0.9,0.24528301886792453)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QJecFenOEeSITeDVRs-MOA" id="(0.9428571428571428,0.7169811320754716)"/>
    </edges>
    <edges xmi:id="_V5U60enOEeSITeDVRs-MOA" type="Transition" element="_V5U60OnOEeSITeDVRs-MOA" source="_jboFfenSEeSITeDVRs-MOA" target="_jboFZenSEeSITeDVRs-MOA">
      <children xsi:type="notation:DecorationNode" xmi:id="_V5U61enOEeSITeDVRs-MOA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_V5U61unOEeSITeDVRs-MOA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_V5U61-nOEeSITeDVRs-MOA" x="16" y="-40"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_V5U60unOEeSITeDVRs-MOA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_V5U61OnOEeSITeDVRs-MOA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_V5U60-nOEeSITeDVRs-MOA" points="[0, 10, -5, 469]$[-150, 10, -155, 469]$[-150, -459, -155, 0]$[0, -459, -5, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_V5U62OnOEeSITeDVRs-MOA" id="(0.0,0.660377358490566)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_V5U62enOEeSITeDVRs-MOA" id="(0.08571428571428572,0.1509433962264151)"/>
    </edges>
    <edges xmi:id="_bXJ1cenOEeSITeDVRs-MOA" type="Transition" element="_bXJ1cOnOEeSITeDVRs-MOA" source="_jboFcenSEeSITeDVRs-MOA" target="_jboFfenSEeSITeDVRs-MOA">
      <children xsi:type="notation:DecorationNode" xmi:id="_bXJ1denOEeSITeDVRs-MOA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_bXJ1dunOEeSITeDVRs-MOA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_bXJ1d-nOEeSITeDVRs-MOA" x="8" y="41"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_bXJ1cunOEeSITeDVRs-MOA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_bXJ1dOnOEeSITeDVRs-MOA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_bXJ1c-nOEeSITeDVRs-MOA" points="[3, 6, 5, -216]$[43, 6, 45, -216]$[43, 222, 45, 0]$[13, 222, 15, 0]$[3, 222, 5, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_bXP8EOnOEeSITeDVRs-MOA" id="(0.9571428571428572,0.5094339622641509)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_bXP8EenOEeSITeDVRs-MOA" id="(0.9285714285714286,0.4528301886792453)"/>
    </edges>
    <edges xmi:id="_h9TqEenOEeSITeDVRs-MOA" type="Transition" element="_h9TqEOnOEeSITeDVRs-MOA" source="_jboFfenSEeSITeDVRs-MOA" target="_jboFcenSEeSITeDVRs-MOA">
      <children xsi:type="notation:DecorationNode" xmi:id="_h9TqFenOEeSITeDVRs-MOA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_h9TqFunOEeSITeDVRs-MOA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_h9TqF-nOEeSITeDVRs-MOA" x="26" y="-45"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_h9TqEunOEeSITeDVRs-MOA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_h9TqFOnOEeSITeDVRs-MOA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_h9TqE-nOEeSITeDVRs-MOA" points="[-2, 1, -28, 212]$[-40, 1, -66, 212]$[-40, -211, -66, 0]$[-2, -211, -28, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_h9ZwsOnOEeSITeDVRs-MOA" id="(0.014285714285714285,0.4339622641509434)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_h9ZwsenOEeSITeDVRs-MOA" id="(0.18571428571428572,0.6415094339622641)"/>
    </edges>
    <edges xmi:id="_-yxZgenOEeSITeDVRs-MOA" type="Transition" element="_-yxZgOnOEeSITeDVRs-MOA" source="_Ho50EenMEeSITeDVRs-MOA" target="_5TBzU-nOEeSITeDVRs-MOA">
      <children xsi:type="notation:DecorationNode" xmi:id="_-yxZhenOEeSITeDVRs-MOA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_-yxZhunOEeSITeDVRs-MOA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_-yxZh-nOEeSITeDVRs-MOA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_-yxZgunOEeSITeDVRs-MOA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_-yxZhOnOEeSITeDVRs-MOA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_-yxZg-nOEeSITeDVRs-MOA" points="[0, 3, -207, 5]$[208, 5, 1, 7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-y3gIOnOEeSITeDVRs-MOA" id="(1.0,0.38288288288288286)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-y3gIenOEeSITeDVRs-MOA" id="(0.0,0.5283018867924528)"/>
    </edges>
    <edges xmi:id="_IUPvwOnPEeSITeDVRs-MOA" type="Transition" element="_IUJpIOnPEeSITeDVRs-MOA" source="_5TBzU-nOEeSITeDVRs-MOA" target="_jboFienSEeSITeDVRs-MOA">
      <children xsi:type="notation:DecorationNode" xmi:id="_IUPvxOnPEeSITeDVRs-MOA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_IUPvxenPEeSITeDVRs-MOA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_IUPvxunPEeSITeDVRs-MOA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_IUPvwenPEeSITeDVRs-MOA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_IUPvw-nPEeSITeDVRs-MOA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_IUPvwunPEeSITeDVRs-MOA" points="[-9, -47, 278, 135]$[-9, -182, 278, 0]$[-279, -182, 8, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_IUPvx-nPEeSITeDVRs-MOA" id="(0.44881889763779526,0.9811320754716981)"/>
    </edges>
    <edges xmi:id="_RHEQQenPEeSITeDVRs-MOA" type="Transition" element="_RHEQQOnPEeSITeDVRs-MOA" source="_PrC-MenPEeSITeDVRs-MOA" target="_Ho50EenMEeSITeDVRs-MOA">
      <children xsi:type="notation:DecorationNode" xmi:id="_RHEQRenPEeSITeDVRs-MOA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_RHEQRunPEeSITeDVRs-MOA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_RHEQR-nPEeSITeDVRs-MOA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_RHEQQunPEeSITeDVRs-MOA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_RHEQROnPEeSITeDVRs-MOA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_RHEQQ-nPEeSITeDVRs-MOA" points="[7, 0, -297, -38]$[297, 38, -7, 0]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_RHKW4OnPEeSITeDVRs-MOA" id="(0.01610305958132045,0.0075075075075075074)"/>
    </edges>
    <edges xmi:id="_jGpT4enSEeSITeDVRs-MOA" type="Transition" element="_jGpT4OnSEeSITeDVRs-MOA" source="_jboFienSEeSITeDVRs-MOA" target="_jboFZenSEeSITeDVRs-MOA">
      <children xsi:type="notation:DecorationNode" xmi:id="_jGpT5enSEeSITeDVRs-MOA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_jGpT5unSEeSITeDVRs-MOA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_jGpT5-nSEeSITeDVRs-MOA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_jGpT4unSEeSITeDVRs-MOA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_jGpT5OnSEeSITeDVRs-MOA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_jGpT4-nSEeSITeDVRs-MOA" points="[-8, 0, 251, -35]$[-259, 0, 0, -35]$[-259, 35, 0, 0]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_jGpT6OnSEeSITeDVRs-MOA" id="(0.37267080745341613,0.0)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
