<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.3/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_C3T2QBg1Eeu1Ycvr0z-qrQ" specification="interface LightCommands:&#xD;&#xA;  out event displayRed&#xD;&#xA;  out event displayGreen&#xD;&#xA;  out event displayYellow&#xD;&#xA;  out event displayNone&#xD;&#xA;  &#xD;&#xA;interface PoliceInterrupt:&#xD;&#xA;  out event police&#xD;&#xA;  &#xD;&#xA;interface Control:&#xD;&#xA;  out event toggle&#xD;&#xA;  &#xD;&#xA; interface Pedestrian:&#xD;&#xA; &#x9;out event pedestrian&#xD;&#xA; &#x9;&#xD;&#xA;interface Executable:&#xD;&#xA;&#x9;in event execute" name="Interfaces"/>
  <notation:Diagram xmi:id="_C3XgoBg1Eeu1Ycvr0z-qrQ" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_C3T2QBg1Eeu1Ycvr0z-qrQ" measurementUnit="Pixel">
    <children xsi:type="notation:Shape" xmi:id="_C3s30Bg1Eeu1Ycvr0z-qrQ" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_C3s30hg1Eeu1Ycvr0z-qrQ" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_C3s30xg1Eeu1Ycvr0z-qrQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_C3te4Bg1Eeu1Ycvr0z-qrQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_C3te4Rg1Eeu1Ycvr0z-qrQ" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_C3te4hg1Eeu1Ycvr0z-qrQ"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_C3uF8Bg1Eeu1Ycvr0z-qrQ" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_C3YHsBg1Eeu1Ycvr0z-qrQ" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_C3YHsRg1Eeu1Ycvr0z-qrQ"/>
  </notation:Diagram>
</xmi:XMI>
