<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_MvNJgMFBEeipM4DyHdzJFg" specification="@CycleBased(200)&#xA;import: &quot;states.h&quot;&#xA;import: &quot;helper_funcs.h&quot;&#xA;&#xA;interface:&#xA;// Define events and&#xA;// and variables here. &#xA;//Use CTRL + Space for content assist.&#xA;var pushed:bool=false&#xA;var distance:float=0.0f&#xA;var dist:float=0.0f&#xA;var cx:float=0.0f&#xA;var cy:float=0.0f&#xA;var dx:float=0.0f&#xA;var dy:float=0.0f&#xA;var angle:float=0.0f&#xA;var prev_encoder:uint16_t=0&#xA;var curr_state:states=states.OFF&#xA;var right_speed:uint16_t=0&#xA;var left_speed:uint16_t=0&#xA;var cliff_c:bool=false&#xA;var cliff_l:bool=false&#xA;var cliff_r:bool=false&#xA;var theta:float=0.0f&#xA;var angle_d:float=0.0f&#xA;var prev_x:float=0.0f" name="robot_template" domainID="com.yakindu.domain.c">
    <regions xmi:id="_MvRa88FBEeipM4DyHdzJFg" name="main region">
      <vertices xsi:type="sgraph:State" xmi:id="_bEa2AOhyEemQArtQ3KXIEg" specification="entry/&#xA;pushed=false&#xA;always/&#xA;pushed=is_button_press();&#xA;cliff_l = is_left_bumper();&#xA;cliff_c = is_center_bumper();&#xA;cliff_r = is_right_bumper();&#xA;parse();&#xA;cx = curr_x;&#xA;cy = curr_y;&#xA;dx = desired_x;&#xA;dy = desired_y;&#xA;angle_d = curr_theta;&#xA;angle = find_rotation(cx,cy,dx,dy,angle_d);&#xA;distance = find_dist(cx,cy,dx,dy);&#xA;print_state(curr_state)" name="ACTIVE" incomingTransitions="_nWvGwOhzEemQArtQ3KXIEg">
        <outgoingTransitions xmi:id="_Y2CoAOh0EemQArtQ3KXIEg" specification="[pushed]" target="_c0AkUOhyEemQArtQ3KXIEg"/>
        <regions xmi:id="_bEd5UOhyEemQArtQ3KXIEg" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_gJNlkOhyEemQArtQ3KXIEg" specification="entry/&#xA;curr_state = states.DRIVING;&#xA;theta = 0&#xA;always/&#xA;theta = read_gyro();&#xA;left_speed = left_wheel(distance, angle - theta);&#xA;right_speed = right_wheel(distance, angle - theta);&#xA;drive_kobuki(left_speed, right_speed);&#xA;print_dist(distance)&#xA;exit/&#xA;theta = 0" name="Move" incomingTransitions="_j7zUEBoPEeqgCI2q-MOxEg _cgkB0ByREeqH3Lem_5r4Sg _Eg7ZcB9xEeqFrI9EHac4dA">
            <outgoingTransitions xmi:id="_cFQl4ByREeqH3Lem_5r4Sg" specification="[distance &lt; 0.2]" target="_Spnx4ByREeqH3Lem_5r4Sg"/>
            <outgoingTransitions xmi:id="_gafvEB92EeqFrI9EHac4dA" specification="[cliff_l || cliff_c || cliff_r]" target="_sd-BoB9uEeqFrI9EHac4dA"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_T_JKgOh0EemQArtQ3KXIEg">
            <outgoingTransitions xmi:id="_j7zUEBoPEeqgCI2q-MOxEg" target="_gJNlkOhyEemQArtQ3KXIEg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_Spnx4ByREeqH3Lem_5r4Sg" specification="entry/&#xA;stop_gyro();&#xA;curr_state = states.STOP&#xA;always/&#xA;stop_kobuki();&#xA;print_dist(distance)&#xA;" name="Stop" incomingTransitions="_cFQl4ByREeqH3Lem_5r4Sg">
            <outgoingTransitions xmi:id="_cgkB0ByREeqH3Lem_5r4Sg" specification="[distance > 0.2]" target="_gJNlkOhyEemQArtQ3KXIEg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_sd-BoB9uEeqFrI9EHac4dA" specification="entry/&#xA;curr_state = states.FIND;&#xA;dist = 0&#xA;always/&#xA;drive_kobuki(-80, -80);&#xA;dist = update_dist(dist, prev_encoder, false);&#xA;prev_encoder = read_encoder();&#xA;print_dist(dist)&#xA;exit/&#xA;stop_kobuki()" name="BackUp" incomingTransitions="_gafvEB92EeqFrI9EHac4dA">
            <outgoingTransitions xmi:id="_Eg7ZcB9xEeqFrI9EHac4dA" specification="[get_abs(dist) > 0.2]" target="_gJNlkOhyEemQArtQ3KXIEg"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_c0AkUOhyEemQArtQ3KXIEg" specification="entry/&#xA;pushed=false&#xA;always/&#xA;stop_kobuki();&#xA;parse();&#xA;pushed=is_button_press();&#xA;cx = curr_x;&#xA;cy = curr_y;&#xA;dx = desired_x;&#xA;dy = desired_y;&#xA;angle_d = curr_theta;&#xA;angle = find_rotation(cx,cy,dx,dy,angle_d);&#xA;print_state(states.OFF);&#xA;print_dist(dy)" name="OFF" incomingTransitions="_VwawUOhzEemQArtQ3KXIEg _Y2CoAOh0EemQArtQ3KXIEg">
        <outgoingTransitions xmi:id="_nWvGwOhzEemQArtQ3KXIEg" specification="[pushed]" target="_bEa2AOhyEemQArtQ3KXIEg"/>
      </vertices>
      <vertices xsi:type="sgraph:Entry" xmi:id="_VMXBAOhzEemQArtQ3KXIEg">
        <outgoingTransitions xmi:id="_VwawUOhzEemQArtQ3KXIEg" specification="" target="_c0AkUOhyEemQArtQ3KXIEg"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_MvRa8MFBEeipM4DyHdzJFg" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_MvNJgMFBEeipM4DyHdzJFg" measurementUnit="Pixel">
    <children xmi:id="_MvYIoMFBEeipM4DyHdzJFg" type="Region" element="_MvRa88FBEeipM4DyHdzJFg">
      <children xsi:type="notation:DecorationNode" xmi:id="_MvZ90MFBEeipM4DyHdzJFg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Mvak4MFBEeipM4DyHdzJFg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Mvak4cFBEeipM4DyHdzJFg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_Mvak4sFBEeipM4DyHdzJFg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_bEg8oOhyEemQArtQ3KXIEg" type="State" element="_bEa2AOhyEemQArtQ3KXIEg">
          <children xsi:type="notation:DecorationNode" xmi:id="_bEiKwOhyEemQArtQ3KXIEg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_bEiKwehyEemQArtQ3KXIEg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_bEix0OhyEemQArtQ3KXIEg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_bEjY4OhyEemQArtQ3KXIEg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_bEjY4ehyEemQArtQ3KXIEg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_bEjY4uhyEemQArtQ3KXIEg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_bEj_8OhyEemQArtQ3KXIEg" type="StateFigureCompartment">
            <children xmi:id="_tomvIB92Eeqqpadf4B3IkA" type="Region" element="_bEd5UOhyEemQArtQ3KXIEg">
              <children xsi:type="notation:DecorationNode" xmi:id="_tomvIR92Eeqqpadf4B3IkA" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_tomvIh92Eeqqpadf4B3IkA"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_tomvIx92Eeqqpadf4B3IkA"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_tomvJB92Eeqqpadf4B3IkA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_tomvJR92Eeqqpadf4B3IkA" type="State" element="_gJNlkOhyEemQArtQ3KXIEg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_tomvJh92Eeqqpadf4B3IkA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_tomvJx92Eeqqpadf4B3IkA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_tomvKB92Eeqqpadf4B3IkA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_tomvKR92Eeqqpadf4B3IkA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_tomvKh92Eeqqpadf4B3IkA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tomvKx92Eeqqpadf4B3IkA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_tomvLB92Eeqqpadf4B3IkA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_tomvLR92Eeqqpadf4B3IkA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_tomvLh92Eeqqpadf4B3IkA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_tomvLx92Eeqqpadf4B3IkA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tomvMB92Eeqqpadf4B3IkA" x="-7" y="29" width="338" height="207"/>
                </children>
                <children xmi:id="_tomvMR92Eeqqpadf4B3IkA" type="Entry" element="_T_JKgOh0EemQArtQ3KXIEg">
                  <children xmi:id="_tomvMh92Eeqqpadf4B3IkA" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_tomvMx92Eeqqpadf4B3IkA" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_tomvNB92Eeqqpadf4B3IkA"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_tomvNR92Eeqqpadf4B3IkA"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_tomvNh92Eeqqpadf4B3IkA" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tomvNx92Eeqqpadf4B3IkA"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_tomvOB92Eeqqpadf4B3IkA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_tomvOR92Eeqqpadf4B3IkA" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tomvOh92Eeqqpadf4B3IkA" x="4" y="-6"/>
                </children>
                <children xmi:id="_tomvOx92Eeqqpadf4B3IkA" type="State" element="_Spnx4ByREeqH3Lem_5r4Sg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_tomvPB92Eeqqpadf4B3IkA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_tomvPR92Eeqqpadf4B3IkA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_tomvPh92Eeqqpadf4B3IkA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_tomvPx92Eeqqpadf4B3IkA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_tomvQB92Eeqqpadf4B3IkA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tomvQR92Eeqqpadf4B3IkA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_tomvQh92Eeqqpadf4B3IkA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_tomvQx92Eeqqpadf4B3IkA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_tomvRB92Eeqqpadf4B3IkA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_tomvRR92Eeqqpadf4B3IkA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tomvRh92Eeqqpadf4B3IkA" x="480" y="29"/>
                </children>
                <children xmi:id="_tomvRx92Eeqqpadf4B3IkA" type="State" element="_sd-BoB9uEeqFrI9EHac4dA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_tomvSB92Eeqqpadf4B3IkA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_tomvSR92Eeqqpadf4B3IkA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_tomvSh92Eeqqpadf4B3IkA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_tomvSx92Eeqqpadf4B3IkA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_tomvTB92Eeqqpadf4B3IkA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tomvTR92Eeqqpadf4B3IkA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_tomvTh92Eeqqpadf4B3IkA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_tomvTx92Eeqqpadf4B3IkA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_tomvUB92Eeqqpadf4B3IkA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_tomvUR92Eeqqpadf4B3IkA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tomvUh92Eeqqpadf4B3IkA" x="528" y="279"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tomvUx92Eeqqpadf4B3IkA"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_tomvVB92Eeqqpadf4B3IkA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tomvVR92Eeqqpadf4B3IkA"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_bEg8oehyEemQArtQ3KXIEg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_bEg8ouhyEemQArtQ3KXIEg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_bEj_8ehyEemQArtQ3KXIEg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_bEg8o-hyEemQArtQ3KXIEg" x="49" y="183" width="1086" height="819"/>
        </children>
        <children xmi:id="_c0CZgOhyEemQArtQ3KXIEg" type="State" element="_c0AkUOhyEemQArtQ3KXIEg">
          <children xsi:type="notation:DecorationNode" xmi:id="_c0DAkOhyEemQArtQ3KXIEg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_c0DAkehyEemQArtQ3KXIEg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_c0DnoOhyEemQArtQ3KXIEg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_c0DnoehyEemQArtQ3KXIEg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_c0DnouhyEemQArtQ3KXIEg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_c0Dno-hyEemQArtQ3KXIEg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_c0EOsOhyEemQArtQ3KXIEg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_c0CZgehyEemQArtQ3KXIEg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_c0CZguhyEemQArtQ3KXIEg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_c0EOsehyEemQArtQ3KXIEg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_c0CZg-hyEemQArtQ3KXIEg" x="133" width="194" height="127"/>
        </children>
        <children xmi:id="_VMcgkOhzEemQArtQ3KXIEg" type="Entry" element="_VMXBAOhzEemQArtQ3KXIEg">
          <children xmi:id="_VMdusOhzEemQArtQ3KXIEg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_VMeVwOhzEemQArtQ3KXIEg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_VMeVwehzEemQArtQ3KXIEg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_VMeVwuhzEemQArtQ3KXIEg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_VMdusehzEemQArtQ3KXIEg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_VMdusuhzEemQArtQ3KXIEg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_VMcgkehzEemQArtQ3KXIEg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_VMcgkuhzEemQArtQ3KXIEg" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_VMcgk-hzEemQArtQ3KXIEg" x="26" y="52" width="15" height="15"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Mvak48FBEeipM4DyHdzJFg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_MvYIocFBEeipM4DyHdzJFg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MvbL8MFBEeipM4DyHdzJFg" x="108" y="216" width="1684" height="1052"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_Mvh5oMFBEeipM4DyHdzJFg" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_Mvh5osFBEeipM4DyHdzJFg" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Mvh5o8FBEeipM4DyHdzJFg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_MvigsMFBEeipM4DyHdzJFg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_MvigscFBEeipM4DyHdzJFg" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MvigssFBEeipM4DyHdzJFg"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Mvigs8FBEeipM4DyHdzJFg" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_MvRa8cFBEeipM4DyHdzJFg" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_MvRa8sFBEeipM4DyHdzJFg"/>
    <edges xmi:id="_VwgP4OhzEemQArtQ3KXIEg" type="Transition" element="_VwawUOhzEemQArtQ3KXIEg" source="_VMcgkOhzEemQArtQ3KXIEg" target="_c0CZgOhyEemQArtQ3KXIEg">
      <children xsi:type="notation:DecorationNode" xmi:id="_Vwg28ehzEemQArtQ3KXIEg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Vwg28uhzEemQArtQ3KXIEg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Vwg28-hzEemQArtQ3KXIEg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_VwgP4ehzEemQArtQ3KXIEg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Vwg28OhzEemQArtQ3KXIEg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_VwgP4uhzEemQArtQ3KXIEg" points="[6, 0, -119, -6]$[127, -23, 2, -29]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_VwlIYOhzEemQArtQ3KXIEg" id="(0.1372445197500794,0.5856777493606139)"/>
    </edges>
    <edges xmi:id="_nWw78OhzEemQArtQ3KXIEg" type="Transition" element="_nWvGwOhzEemQArtQ3KXIEg" source="_c0CZgOhyEemQArtQ3KXIEg" target="_bEg8oOhyEemQArtQ3KXIEg">
      <children xsi:type="notation:DecorationNode" xmi:id="_nWxjAOhzEemQArtQ3KXIEg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_nWxjAehzEemQArtQ3KXIEg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_nWxjAuhzEemQArtQ3KXIEg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_nWw78ehzEemQArtQ3KXIEg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_nWw78-hzEemQArtQ3KXIEg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_nWw78uhzEemQArtQ3KXIEg" points="[9, 35, 1, -75]$[9, 87, 1, -23]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_nWzYMOhzEemQArtQ3KXIEg" id="(0.015249391083342157,0.7161125319693096)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_nWzYMehzEemQArtQ3KXIEg" id="(0.09411505362368505,0.03292616607391106)"/>
    </edges>
    <edges xmi:id="_Y2D2IOh0EemQArtQ3KXIEg" type="Transition" element="_Y2CoAOh0EemQArtQ3KXIEg" source="_bEg8oOhyEemQArtQ3KXIEg" target="_c0CZgOhyEemQArtQ3KXIEg">
      <children xsi:type="notation:DecorationNode" xmi:id="_Y2EdMeh0EemQArtQ3KXIEg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Y2EdMuh0EemQArtQ3KXIEg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Y2EdM-h0EemQArtQ3KXIEg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Y2D2Ieh0EemQArtQ3KXIEg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Y2EdMOh0EemQArtQ3KXIEg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Y2D2Iuh0EemQArtQ3KXIEg" points="[2, -9, 5, 84]$[2, -74, 5, 19]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Y2GSYOh0EemQArtQ3KXIEg" id="(0.16692769662091259,0.010965863039908116)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Y2GSYeh0EemQArtQ3KXIEg" id="(0.4320660806946945,0.8772378516624041)"/>
    </edges>
    <edges xmi:id="_j73lgBoPEeqgCI2q-MOxEg" type="Transition" element="_j7zUEBoPEeqgCI2q-MOxEg" source="_tomvMR92Eeqqpadf4B3IkA" target="_tomvJR92Eeqqpadf4B3IkA">
      <children xsi:type="notation:DecorationNode" xmi:id="_j76BwBoPEeqgCI2q-MOxEg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_j76BwRoPEeqgCI2q-MOxEg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_j76o0BoPEeqgCI2q-MOxEg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_j73lgRoPEeqgCI2q-MOxEg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_j75asBoPEeqgCI2q-MOxEg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_j73lghoPEeqgCI2q-MOxEg" points="[7, 0, -13, -84]$[80, 0, 60, -84]$[80, 64, 60, -20]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_j79sIBoPEeqgCI2q-MOxEg" id="(0.0085892880298885,0.40849452816835224)"/>
    </edges>
    <edges xmi:id="_cFTCIByREeqH3Lem_5r4Sg" type="Transition" element="_cFQl4ByREeqH3Lem_5r4Sg" source="_tomvJR92Eeqqpadf4B3IkA" target="_tomvOx92Eeqqpadf4B3IkA">
      <children xsi:type="notation:DecorationNode" xmi:id="_cFTpMRyREeqH3Lem_5r4Sg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_cFTpMhyREeqH3Lem_5r4Sg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_cFTpMxyREeqH3Lem_5r4Sg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_cFTCIRyREeqH3Lem_5r4Sg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_cFTpMByREeqH3Lem_5r4Sg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_cFTCIhyREeqH3Lem_5r4Sg" points="[13, 2, -157, 2]$[171, -20, 1, -20]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_cFWFcByREeqH3Lem_5r4Sg" id="(0.8139183673469388,0.13361358859285347)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_cFWFcRyREeqH3Lem_5r4Sg" id="(0.0670391061452514,0.25225225225225223)"/>
    </edges>
    <edges xmi:id="_cgl3AByREeqH3Lem_5r4Sg" type="Transition" element="_cgkB0ByREeqH3Lem_5r4Sg" source="_tomvOx92Eeqqpadf4B3IkA" target="_tomvJR92Eeqqpadf4B3IkA">
      <children xsi:type="notation:DecorationNode" xmi:id="_cgl3BByREeqH3Lem_5r4Sg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_cgl3BRyREeqH3Lem_5r4Sg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_cgl3BhyREeqH3Lem_5r4Sg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_cgl3ARyREeqH3Lem_5r4Sg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_cgl3AxyREeqH3Lem_5r4Sg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_cgl3AhyREeqH3Lem_5r4Sg" points="[-14, 6, 168, 3]$[-178, 42, 4, 39]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_cgnsMByREeqH3Lem_5r4Sg" id="(0.11173184357541899,0.7927927927927928)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_cgnsMRyREeqH3Lem_5r4Sg" id="(0.790326530612245,0.43424416292677387)"/>
    </edges>
    <edges xmi:id="_Eg_q4B9xEeqFrI9EHac4dA" type="Transition" element="_Eg7ZcB9xEeqFrI9EHac4dA" source="_tomvRx92Eeqqpadf4B3IkA" target="_tomvJR92Eeqqpadf4B3IkA">
      <children xsi:type="notation:DecorationNode" xmi:id="_EhAR8R9xEeqFrI9EHac4dA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_EhAR8h9xEeqFrI9EHac4dA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_EhAR8x9xEeqFrI9EHac4dA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Eg_q4R9xEeqFrI9EHac4dA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_EhAR8B9xEeqFrI9EHac4dA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Eg_q4h9xEeqFrI9EHac4dA" points="[0, 0, 112, 90]$[-108, -60, 4, 30]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_EhCuMB9xEeqFrI9EHac4dA" id="(0.47138047138047146,0.005847953216374269)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_EhCuMR9xEeqFrI9EHac4dA" id="(0.9349112426035503,0.8067632850241546)"/>
    </edges>
    <edges xmi:id="_gakAgB92EeqFrI9EHac4dA" type="Transition" element="_gafvEB92EeqFrI9EHac4dA" source="_tomvJR92Eeqqpadf4B3IkA" target="_tomvRx92Eeqqpadf4B3IkA">
      <children xsi:type="notation:DecorationNode" xmi:id="_gaknkB92EeqFrI9EHac4dA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_gaknkR92EeqFrI9EHac4dA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_gaknkh92EeqFrI9EHac4dA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_gakAgR92EeqFrI9EHac4dA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_gakAgx92EeqFrI9EHac4dA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_gakAgh92EeqFrI9EHac4dA" points="[9, 9, -142, -135]$[152, 204, 1, 60]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ganD0B92EeqFrI9EHac4dA" id="(0.45857988165680474,0.9420289855072463)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ganD0R92EeqFrI9EHac4dA" id="(0.10367892976588629,0.5591397849462365)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
